<nav class="navbar navbar-expand-lg" style="background-color: rgb(0, 0, 141);">
    <div class="container p-2" >
    <nav class="navbar " style="background-color: rgb(0, 0, 141);" >
  <div class="container-fluid">
    <a class="navbar-brand text-white"  href="#">MMU Xplore</a>
  </div>

</nav>
  <ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'coordinator_home' coordinator.user_id.user_id %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'researchpaper' %}">Papers</a>
  </li>
   <li class="nav-item">
    <a class="nav-link text-white" href="{%url 'researcher_directory'%}">Researchers</a>
  </li>
    <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'coordinator_submissions' %}">Submissions</a>
  </li>
  
    <li class="nav-item">
    <a class="nav-link text-white" href="{%url 'generate_report'%}">Reports</a>
  </li>
  <li class="nav-item">

    
{% if user_name != 'Guest' %}
  <a class="nav-link text-white"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">{{ user_name }}</a>

  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Welcome back, {{ user_name }}!
        <br>
        Would you like to edit your profile?
      </div>
      <div class="modal-footer">
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            <a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile Page</a>
            
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  <a class="nav-link text-white" href="/signup">Sign Up</a>
{% endif %}
  </li>
</ul>
  <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="What are you looking for?" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
    
     
</div>
</nav>