<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Admin Homepage</title>
</head>
<body>
    <!----------------------------------------------------------------------Navbar component-------------------------------------------------------------------------------------->



    {% include 'components/admin_navbar.html' %}

<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------Admin Homepage Content--------------------------------------------------------------------------------------->

<section>
  <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
      <div class="jumbotron">
            <h2 class="mb-3">Admin Dashboard</h2>
            <p>Welcome to admin dashboard , {{ user_name }}</p>
            <hr class="my-4">
         
        </div>

        <div class="row">
      <div class="card p-5">

    <div class="row g-4">
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Manage Comments</h5>
        <p class="card-text">View and manage user comments.</p>
        <a href="#" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
   <div class="col-md-4 col-sm-6 ">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Manage Users</h5>
        <p class="card-text">View and manage user profiles.</p>
        <a href="/adminguy/manage_users/" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Manage Announcements</h5>
        <p class="card-text">Manage announcements content.</p>
        <a href="/adminguy/announcement_page/" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
  
</div>
    <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Manage Terms and Conditions</h5>
        <p class="card-text">Manage terms and conditions content.</p>
        <a href="/adminguy/term_condition_page/" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Manage Reports</h5>
        <p class="card-text">Manage user reports and issues.</p>
        <a href="#" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
  </div>
</section>


<!---------------------------------------------------------------Footer Component----------------------------------------------------------------------------------------->

 {% include 'components/footer.html' %}

<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>